body {
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  max-width: 800px; /* Set a max width */
  align-items: flex-start; /* Align items to the left */
  padding-left: 20px; /* Add padding to the left */
}

.header {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 715px;
}

.cdtech-logo {
  width: 150px;
}

.sponsors {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.sponsor-logo {
  width: 100px;
}

.signup-form {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

.privacy-policy {
  margin-top: 20px;
}

.privacy-policy a {
  color: white; /* Change the link color to white */
  text-decoration: underline; /* Optional: underline to indicate a link */
}

footer {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  width: 100%;
  text-align: center;
}

.redirect-page {
  background-image: url('assets/abstract_chattskyline.jpg');
}

.redirect-page .container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

body:not(.redirect-page) {
  background-image: url('assets/chattskyline.jpg');
}
