body {
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  max-width: 1200px; /* Increased max width */
  padding-left: 20px; /* Add padding to the left */
}

.header {
  background-color: rgba(0, 0, 68, 0.8); 
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 715px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cdtech-logo {
  width: 150px;
  margin: 0 auto; /* Center the logo horizontally */
}

.navbar {
  display: flex;
  justify-content: center; /* Center the logo horizontally */
  background-color: rgba(0, 0, 68, 0.8); 
  padding: 10px;
  position: relative;
  width: 100%;
  max-width: 1200px;
}

.header, .info-box, .signup-form, .signup-form-container, .footer {
  background-color: rgba(0, 0, 68, 0.8); /* Updated background color */
  color: #ffffff;
}

.info-box {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 715px;
}

.signup-section {
  display: flex;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.signup-form-container {
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

.signup-info {
  margin-left: 20px;
  padding:  10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 68, 0.8); 
  color: white;
  text-align: center;
}

.signup-section .separator {
  margin: 0 20px;
  color: #fff;
  font-size: 200px;
}

.privacy-policy {
  margin-top: 20px;
}

.privacy-policy a {
  color: #ffcc00; /* Change the link color to bright yellow */
  text-decoration: underline; /* Optional: underline to indicate a link */
}

footer {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  width: 100%;
  text-align: center;
}

.redirect-page {
  background-image: url('assets/chattskyline.jpg');
}

.redirect-page .container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

body:not(.redirect-page) {
  background-image: url('assets/abstract_chattskyline.jpg');
}

.title-box {
  flex: 1;
  min-width: 200px;
}

.date-location-box {
  flex: 1;
  text-align: right;
  background-color: rgba(0, 0, 68, 0.8); 
  padding: 10px;
  border-radius: 10px;
  min-width: 200px;
}

.highlight-text {
  color: rgba(255, 87, 34, 1); /* Bright orange color */
}

@media (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .date-location-box {
    text-align: left;
    margin-top: 10px;
    width: 100%;
  }

  .signup-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .signup-info {
    margin-left: 0;
    width: 100%;
  }

  .signup-section .separator {
    display: none;
  }

  .navbar {
    justify-content: center; /* Center the logo horizontally */
    background-color: rgba(0, 0, 68, 0.8); 
    padding: 10px;
    position: relative;
    width: 100%;
    max-width: 1200px;
  }

  .navbar .nav-item {
    margin-right: 0;
  }
}