# *.zip
.terraform/
terraform.tfstate
terraform.tfstate.backup
misc-backup
frontend/emails.txt
READMEextra.md
cmds
.DS_Store
cloudflare/private-key.pem
cloudflare/origin-cert.pem
.gitignore
notes.txt
